/* .ng-valid {
    color: green;
}

.ng-invalid {
    color: red;
}

.ng-pristine {
    color: yellow;
}

.ng-dirty {
    color: royalblue;
}

.ng-touched {
    color: greenyellow;
}

.ng-untouched {
    color: wheat;
}

.ng-pending {
    color: steelblue;
} */